@import '../variables.scss';

//поменять кнопкам шрифт
.filled {
    font-weight: 400;
    min-width: 146px;
    text-transform: uppercase;
    height: 35px;
    font-size: 14px;
    border: none;
    background-color: $orange;
    color: $black;
    border-radius: 20px;
}

.filled.white {
    color: $white;
    min-width: 128px;
}

.outlined {
    min-width: 146px;
    text-transform: uppercase;
    height: 35px;
    font-size: 14px;
    border: 2px solid $orange;
    background-color: $dark_grey;
    color: $orange;
    border-radius: 20px;
}