$black: rgba(2, 2, 2, 0.95);
$lite_black: rgba(12, 12, 12, 0.8);
$transparent_white : rgba(255, 255, 255, 0.6);
$white: #FFFFFF;
$orange: #FF9900;
$dark_grey: #191919;
$grey: rgba(116, 116, 116, 0.1);